html,page,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
page {
    font-size: 380px;
    padding-top: 30%;
    padding-left: 30%;
    height: 100%;
    position: absolute;

}
#spring{
    background: lightgreen;
    animation: spring  10s infinite ;
}
#summer{
    background: red;
    animation: summer  10s infinite ;
}
#fall{
    background-image: url("../images/123.jpg");
    background-size: 100% 100% ;
    animation: fall  10s infinite ;
}
#winter{
    background: black;
    color: white;
    animation: winner  10s infinite ;
}
#z{
    font-size: 160px;
    display: block;
    animation: z 10s infinite;

}
@keyframes z {
    0% {
        opacity: 0
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 100
    }
    90% {
        opacity: 100
    }
    100% {
        opacity: 0
    }
}
@keyframes winner {
    0% {
        opacity: 0
    }
    60% {
        opacity: 0
    }
    80% {
        opacity: 100
    }
    100% {
        opacity: 0
    }
}
@keyframes spring {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes summer {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes fall {
    0%{opacity: 0}
    40%{opacity:0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes winner {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}